#root {
    max-width: 1200px; /* Adjust as needed */
    width: 90%; /* Adjust as needed */
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .App {
    margin-top: 2rem;
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  button {
    margin-bottom: 2rem;
  }
  
  .MuiAccordion-root {
    margin-bottom: 1rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    margin-top: 2rem;
  }
  